@font-face {
    font-family: 'Newsreader';
    src: url('https://raw.githubusercontent.com/kvikksam/eit/fonts/Newsreader-VariableFont_opsz%2Cwght.ttf');
}

@font-face {
    font-family: 'Noto_Serif';
    src: url('https://raw.githubusercontent.com/kvikksam/eit/fonts/NotoSerif-VariableFont_wdth%2Cwght.ttf');
}

@font-face {
    font-family: 'Butler';
    src: url('https://raw.githubusercontent.com/kvikksam/eit/fonts/Butler-ExtraBold.woff');
}

@font-face {
    font-family: 'Castoro';
    src: url('https://raw.githubusercontent.com/kvikksam/eit/fonts/CastoroTitling-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #b06501;
}

body h1 {
    font-family: 'Newsreader';
    font-size: 60px;
    font-style: italic;
    color: white;
    text-align: left;
    margin: 0;
    padding: 10px;
    padding-left: 20px;
}

body h3 {
    font-family: 'Butler';
    font-size: 30px;
    color: rgb(30, 30, 30);
    text-align: left;
    margin: 0;
    padding: 10px;
}

body p {
    font-family: 'Noto_Serif';
    font-size: 18px;
    line-height: 1.5;
}

header {
    height: 30px;
    background-color: #b06501;
    padding: 15px 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    flex-grow: 1;
    text-align: center;
}

header .logo a {
    font-family: 'Butler';
    font-size: 25px;
    color: white;
    text-decoration: none;
}

header .buttons {
    display: flex;
    gap: 8px;
    position: absolute;
    left: 8px;
}

header .buttons button {
    background-color: #b06501;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-family: Noto_Serif;
    font-size: 16px;
    border-radius: 0;
    transition: background-color 0.3s ease;
}

header .buttons button:hover {
    background-color: white;
}

@media (max-width: 768px) {
    header .buttons {
        display: flex;
        gap: 4px;
        position: absolute;
        left: 6px;
    }

    header .buttons button {
        padding: 5px 5px;
        font-size: 12px;
    }
}

#nav-toggle {
    background-color: #b06501;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 10px;
    display: block; 
    z-index: 1001;
}

nav {
    position: absolute; /* Add this line to fix the navigation bar */
    width: 100%; /* Ensure the nav bar spans the full width */
    top: 0; /* Align it to the top */
    z-index: 1000; /* Ensure it stays above other content */
}

nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #b06501;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

#nav.nav-collapsed ul {
    display: none; /* Hide the navigation list when collapsed */
}
 
/* Responsive styles */
@media (max-width: 768px) {
    #nav-toggle {
        display: block; /* Show the nav toggle button on smaller screens */
    }

    nav ul {
        flex-direction: column; /* Change to column for smaller screens */
    }

    nav ul li {
        margin: 5px 0;
    }

    #nav.nav-collapsed ul {
        display: none; /* Hide the navigation list when collapsed */
    }
}

#title1, #title2, #title3 {
    font-family: 'Castoro';
    font-size: 30px;
    color: black;
    text-align: center;
    margin: 0;
    padding-top: 2vw;
    padding-bottom: 1vw;
    margin-top: 0;
}

#title1 {
    background-color: #303030;
}

#title2 {
    background: linear-gradient(#161616, #303030);
}

#button_container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color:#303030;
}

#back_button, #next_button {
    font-family: 'Noto_Serif';
    font-size: 16px;
    color: white;
    background-color:  #303030; 
    border: none;
    border-radius: 0;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: auto; 
    box-sizing: border-box; 
}

#back_button:hover, #next_button:hover {
    background-color: white; /* Invert colors on hover */
    color:  #555;
}

#back_button:active, #next_button:active {
    background-color:  #292828; /* Darker blue for active effect */
    color: white;
}

#intro {
    padding: 15px;
    background-color: #303030;
    margin-bottom: 0;
    color: white;
}

#intro img {
    width: 100%;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.crop-image {
    height: 600px; /* Set the desired height */
    object-fit: cover; /* This will crop the image to fit the container */
    object-position: top; /* This will center the image within the container */
}




#articles {
    background-color:#303030;
    padding-top: 6px;
    margin-top: 0;
    margin-bottom: 0;
}
#articles p {
    color: white;
}

#article-description {
    padding-left: 20px;
    padding-right: 20px;
}

#expandable-articles {
    margin: 20px 0;
    padding: 0px; /* Add generous padding */
    border-radius: 0; /* Optional: Add rounded corners */
}

#article1, #article2, #article3, #article4, #article5 {
    margin-top: 0;
    margin-bottom: 0; /* Remove bottom margin */
}

.expand-btn {
    background-color: #b06501;
    color: white;
    border: none;
    padding: 20px 20px;
    padding-left: 40px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0px;
    margin: 0;
    margin-bottom: 0;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
}

.expand-btn:hover {
    background-color: #303030;
}


.article-content {
    display: none;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #303030; /* Optional: Add a background color for better readability */
}

.article-content img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.expand-btn.open {
    background-color: #303030; /* Example of an open state */
}

#expandable-articles {
    margin-bottom: 0; /* Ensure no margin at the bottom */
}

#expandable-articles a {
    font-family: 'Castoro';
    font-size: 3vw;
    color: #b06501;
    text-decoration: none ;
    position: relative;
    top: -3px;
}

footer {
    background: linear-gradient(#161616, #b06501);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 0;
}

footer .footer-content {
    background-color: #161616;
}

footer h2 {
    font-family: 'Butler';
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
}

footer a {
    font-family: 'Noto_Serif';
    font-size: 15px;
    text-decoration: underline;
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
}

footer a:hover {
    color: #b06501;
}

footer p {
    font-family: 'Noto_Serif';
    font-size: 15px;
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .footer-content-sub {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section.about, .footer-section.links {
    min-width: 200px; /* Adjust as needed */
}

.footer-bottom {
    background: linear-gradient(#161616, #b06501);
}